body{
    background-color: grey;
}
button{
    background-color: greenyellow;
    font-size: medium;
    border: 3px dotted black;
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    margin: 6px;
    padding: 5px;
}
img{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 30px dashed black;
}
h1{
    font: bold;
    font-size: 50px;
    height: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#img1{
    border: 5px inset white;
}
#img2{
    border: 4px dashed white;
}
#img3{
    border: 4px double white;
}