body{
    background-color: gray;
}
h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    margin: 20px;
}
.head-container{
    display: flex;
    justify-content: center;
}
.head{
    display: flex;
    justify-content: center;
}
.head-link{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.no-link{
    text-decoration: none;
    color: black;
}
img{
    display: flex;
    height: 400px;
    width: 450px;
    margin: 30px;
}
button{
    display: flex;
    border: 5px inset rgb(75, 73, 73);
    background-color: rgb(148, 144, 144);
}
#img1{
    border: 5px inset white;
}
#img2{
    border: 4px dashed white;
}
#img3{
    border: 4px double white;
}